body {
    background: #000000;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
p {
    text-align: center;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #33A8DB;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.19em;
}

a {
    color: #33A8DB;
    text-decoration: none;
    font-weight: 700;
}

button {
    margin: auto;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.21em;

    background: none;
    padding: 20px 40px;
    border: 3px outset #1472B7;
    color: #31A8DD;
}

.banner {
    width: 1360px;
    height: 605px;

    background-image: url(imagens/banner.png);
}

.banner-content {
    margin: auto;
    width: 30rem;
    text-align: center;
}


.logo {
    position: relative;
    display: block;
    width: 248px;
    height: 248px;
    margin: auto;
    padding: auto;

    background: rgba(20, 20, 20, 0.5);
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

#course-content {
    width: 800px;
    margin: auto;
    padding: 40px;
}

.modules-list {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 127px;
    gap: 10px;

    width: 535px;
    height: 51px;

    background: #252525;
    border: 1px solid #33A8DB;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
    border-radius: 57px;

}

.modules {
    display: block;
}

#transform-world {
    display: flex;
    justify-content: left;
    text-transform: lowercase;
    font-weight: 900px;
    font-size: 48px;
    text-align: left;
    text-shadow: 3px 2px 0px #33A8DB;

    background-image: url(imagens/woman-code.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

.transform {
    margin-left: 150px;
    position: absolute;
    width: 244px;
    height: 141px;
}

#professional-challenges {
    width: 800px;
    height: 650px;
    margin: auto;
    text-align: center;
}

footer {
    width: 1340px;
    height: 150px;

    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
    border-top: 1px solid #33A8DB;
}

.dio-logo {
    display: block;
    width: 300px;
    height: 50px;
    margin: 10px auto 10px auto;
    text-align: center;
}